<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
		<%- include('../partials/headFormIo'); %>
</head>

<body>
	<%- include('../partials/header'); %>

		<%- include('../partials/form'); %>

			<%- include('../partials/listProducts'); %>

				<%- include('../partials/footer'); %>
</body>

</html>